<!--This base page is used as a template for other pages, the navigation and styling is included here as to no repeat on other pages.-->
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>MoneyBot</title>
  <!--The line below allows the website to scale for mobile device with ease..-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--The links below are used to style the website using botstrap.-->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'moneybot/css/moneybot/custom-styles.css' %}">
  <link rel="stylesheet" href="{% static 'moneybot/css/master.css' %}">
</head>
<body>
  <!-- Navbar, collpasable for mobile and changes depening on who is logged in to the site.-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">MoneyBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:all' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forums:all' %}">Forums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:create' %}">New Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forums:create' %}">New Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="{% url 'accounts:logout' %}">Log Out</a>
        </li>
      </ul>
      {% else %}
        <!-- Navbar for non-members-->
      <ul class='navbar-nav mr-auto mt-2 mt-lg-0'>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forums:all' %}">Forums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" href="{% url 'accounts:login' %}">Log in</a>
        </li>
      </ul>
      {% endif %}
      <!--Search bar, will be coded to search posts in the future.-->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <br>

  <!--Any block with the name 'content' will be injected into these blocks when called on.-->
  <div class='container mycontent'>
    {% block content %}

    {% endblock content %}

  </div>
  <br>
</body>
</html>
